<%= link_to message_path(messages.last.conversation), class: 'message_link' do %>
<div class="message" style="<%= 'background: #E7F0FF;' if messages.last.new? %>">
  <div class="media">
    <%= new_message_dot(messages.last) %>
    <div class="pull-left"><%= avatar(messages.last.sender) %></div>
    <div class="media-body">
      <h6 class="media-heading"><%= messages.last.sender.name %></h6>
      <p><%= sanitize(messages.last.body.truncate(100, omision: "...")) %></p>
    </div>
    <small class="time pull-right"><%= time_ago_in_words(messages.last.created_at) %> ago</small>
  </div>
</div>
<% end %>
<hr>
