<% conversation = messages.last.conversation %>
<li class="<%= conversation.messages.where(recipient_id: current_user.id).last.new? ? 'unread' : 'read' %>">
  <div class="checkbox">
    <input type="checkbox" value="<%= conversation.id %>" name="conversations[c_<%= conversation.id %>]" id="check_<%= conversation.id %>">
    <label for="check_<%= conversation.id %>"></label>
  </div>
  <%= link_to message_path(conversation) do %>
    <div class="m-image"><%= avatar(messages.last.sender) %></div>
    <div class="m-text">
      <p class="m-name"><%= messages.last.sender.name %></p>
      <span class="pull-right"><span class="reply-m"></span><%= time_ago_in_words(messages.last.created_at) %></span>
      <p><%= sanitize(messages.last.body.truncate(100, omision: "...")) %></p>
    </div>
    <%#= link_to 'Delete', conversation_path(messages.last.conversation),  method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <div class="clr"></div>
</li>
