<%= link_to message_path(messages.last.conversation), class: 'message_link' do %>
<div class="message" style="<%= 'background: #E7F0FF;' if messages.last.new? %>">
  <div class="media">
    <%= new_message_dot(messages.last) %>
    <div class="pull-left"><%= avatar(messages.last.sender) %></div>
    <div class="media-body">
      <h6 class="media-heading"><%= messages.last.sender.name %></h6>
      <p><%= sanitize(messages.last.body.truncate(100, omision: "...")) %></p>
    </div>
  </div>
</div>
<% end %>
<div class="pull-right">
  <small class="time">
    <%= time_ago_in_words(messages.last.created_at) %> ago |
    <%= link_to 'Delete', conversation_path(messages.last.conversation),  method: :delete, data: {confirm: 'Are you sure?'} %>
  </small>
</div>
<hr>
