<ul class="breadcrumb">
  <li class="<%= 'active' if controller_name == 'messages' && action_name == 'index' %>">
    <% if controller_name == 'messages' && action_name == 'index' %>
      Inbox
    <% else %>
      <%= link_to 'Inbox', messages_path %>
    <% end %>
    <span class="divider">|</span>
  </li>
  <li class="<%= 'active' if action_name == 'sent' %>">
    <%= link_to 'Outbox', sent_path if action_name != 'sent' %>
    <%= 'Outbox' if action_name == 'sent' %>
    <span class="divider">|</span>
  </li>
  <% if action_name == 'show' %>
  <li class="<%= 'active' if action_name == 'sent' %>">
    Message
  </li>
  <% end %>
  <!-- <li class="<%#= 'active' if action_name == 'trash' %>">
    <%#= link_to 'Trash', trash_path if action_name != 'trash' %>
    <%#= 'Trash' if action_name == 'trash' %>
    <span class="divider">|</span>
  </li> -->
</ul>
