<div class="message">
  <div class="media message">
    <div class="blue_dot_placeholder pull-left"><%= new_message_dot(message) %></div>
    <%= link_to avatar(message.sender), profile_path(message.recipient), class: 'pull-left' %>
    <div class="media-body">
      <h6 class="media-heading"><%= message.sender.name %></h6>
      <%= simple_format(sanitize(message.body)) %>
    </div>
    <small class="time pull-right">
      <%= timeago_tag(message.created_at) %>
    </small>
  </div>
</div>
<hr>
