<div class="message">
  <div class="media">
    <% if message.type_of_sent?(current_user) %>
      <%= link_to avatar(message.sender), profile_path(message.receiver), class: 'pull-left' %>
      <div class="media-body">
        <h6 class="media-heading"><%= message.sender.name %></h6>
        <%= sanitize(message.body) %>
<!--                 <div class="pull-right">
          <%##= link_to 'Delete', delete_message_path(message), remote: true %>
        </div> -->
      </div>
    <% elsif message.type_of_received?(current_user) %>
      <%= link_to avatar(message.sender), profile_path(message.sender), class: 'pull-left' %>
      <div class="media-body">
        <h6 class="media-heading"><%= message.sender.name %></h6>
        <%= sanitize(message.body) %>
<!--                 <div class="pull-right">
          <%#= link_to 'Reply', '#' %> |
          <%#= link_to 'Delete', delete_message_path(message), remote: true %>
        </div> -->
      </div>
    <% end %>
  </div>
</div>
<hr>
