<div class="message">
  <div class="media">
    <%= link_to avatar(message.receiver), profile_path(message.receiver), class: 'pull-left' %>

    <div class="media-body">
      <h6 class="media-heading">Message sent to <%= message.receiver.name %></h6>
      <div class="pull-right">
        <%= link_to 'Open', message %><br>
        <%= link_to 'Delete', delete_message_path(message), remote: true %>
      </div>
      <%= sanitize(message.body.truncate(100, omision: "...")) %>
    </div>
  </div>
</div>
<hr>
