<%= render "shared/header" %>
<%= render 'home/breadcrumbs' %>

<div class="container">
  <div class="row">
    <div class="span3">
      <%#= render 'home/sidebar' %>
    </div>
    <div class="span6">
      <ul class="breadcrumb">
        <li class="<%= 'active' if action_name == 'index' %>">
          <%= link_to 'Inbox', inbox_path if action_name != 'index' %>
          <%= 'Inbox' if action_name == 'index' %>
          <span class="divider">|</span>
        </li>
        <li class="<%= 'active' if action_name == 'outbox' %>">
          <%= link_to 'Outbox', outbox_path if action_name != 'outbox' %>
          <%= 'Outbox' if action_name == 'outbox' %>
          <span class="divider">|</span>
        </li>
<!--         <li class="<%#= 'active' if action_name == 'trash' %>">
          <%#= link_to 'Trash', trash_path if action_name != 'trash' %>
          <%#= 'Trash' if action_name == 'trash' %>
          <span class="divider">|</span>
        </li> -->
      </ul>

      <div class="messages">
        <hr>
        <%= render @messages %>
      </div>
    </div>
    <div class="span3">

    </div>
  </div>
</div>
<%= render '/shared/footer' %>
