<script type="text/javascript">
  // var channel = pusher.subscribe('new_messages_in_conversation_<%= @conversation.id %>');
  // channel.bind('add_message_to_conversation', function(data) {
  //   $.ajax({
  //     url: '/conversations/' + data.conversation_id + '/refresh_messages',
  //     type: "GET"
  //   });
  // });
  $(function() {
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe("/messages/for/conversation/<%= @conversation.id %>", function (data) {
      eval(data);
    });
    faye.subscribe("/notifications/for/conversation/<%= @conversation.id %>/user/<%= current_user.id %>", function (data) {
      eval(data);
    });
  });
</script>
  <div class="row">
    <div class="span3">
      <%#= render 'home/sidebar' %>
      <h5>Interesting people</h5>
       <% @interesting_people.each do |person| %>
         <% if person.first_name.present? %>
         <%= simple_user_avatar(person) %>
        <% end %>
      <% end %>
    </div>
    <div class="span6">
      <%= render 'messages_menu' %>
      <div class="messages">
        <%= render @messages %>
      </div>
      <%= form_for current_user.sent_messages.new, class: 'form', remote: true do |f| %>
        <%= f.text_area :body, rows: 5, placeholder: 'Write a reply...', class: 'span6' %>
        <div>
          <%= f.hidden_field :recipient_id, value: message_receiver(@conversation) %>
          <%= f.hidden_field :conversation_id, value: @conversation.id %>
        </div>
        <%= f.submit 'Reply', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
    <div class="span3">

    </div>
  </div>
