<%= render "shared/header" %>
<%= render "home/breadcrumbs" %>

<div class="container">
  <div class="row">
    <div class="span3">
      <%#= render 'home/sidebar' %>
    </div>
    <div class="span6">
      <%= render 'messages_menu' %>

      <div class="messages">
        <hr>
        <div class="message">
          <div class="media">
            <% if @message.type_of_sent?(current_user) %>
              <%= link_to avatar(@message.receiver), profile_path(@message.receiver), class: 'pull-left' %>
              <div class="media-body">
                <h4 class="media-heading">Message sent to <%= @message.receiver.name %></h4>
                <%= sanitize(@message.body) %>
                <div class="pull-right">
                  <%= link_to 'Delete', delete_message_path(@message), remote: true %>
                </div>
              </div>
            <% elsif @message.type_of_received?(current_user) %>
              <%= link_to avatar(@message.sender), profile_path(@message.sender), class: 'pull-left' %>
              <div class="media-body">
                <h4 class="media-heading">Message from <%= @message.sender.name %></h4>
                <%= sanitize(@message.body) %>
                <div class="pull-right">
                  <%= link_to 'Delete', delete_message_path(@message), remote: true %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
      </div>
    </div>
    <div class="span3">

    </div>
  </div>
</div>
<%= render '/shared/footer' %>

