<script type="text/javascript">
  // $(function() {
  //   var faye = new Faye.Client("<%#= ENV['FAYE_URL'] %>");
  //   faye.subscribe("/messages/for/conversation/<%#= @conversation.id %>", function (data) {
  //     eval(data);
  //   });
  //   faye.subscribe("/notifications/for/conversation/<%#= @conversation.id %>/user/<%#= current_user.id %>", function (data) {
  //     eval(data);
  //   });
  // });
  // above code for faye

  var channel = pusher.subscribe('new_messages_in_conversation_<%= @conversation.id %>');
  channel.bind('add_message_to_conversation', function(data) {
    $.ajax({
      url: '/conversations/' + data.conversation_id + '/refresh_messages',
      type: "GET"
    });
  });
</script>
<div class="row">
  <div class="span3">
    <%#= render 'home/sidebar' %>
    <h5>Interesting people</h5>
     <% @interesting_people.each do |person| %>
       <% if person.first_name.present? %>
       <%= simple_user_avatar(person) %>
      <% end %>
    <% end %>
  </div>
  <div class="span6">
    <%= render 'messages_menu' %>
    <div class="messages">
      <%= render @messages %>
    </div>
    <%= form_for current_user.sent_messages.new, class: 'form', remote: true do |f| %>
      <%= f.text_area :body, rows: 5, placeholder: 'Write a reply...', class: 'span6', required: true %>
      <div>
        <%= f.hidden_field :recipient_id, value: message_receiver(@conversation) %>
        <%= f.hidden_field :conversation_id, value: @conversation.id %>
      </div>
      <div class="pull-left alertBox"></div>
      <%= f.submit 'Reply', class: 'btn btn-primary pull-right' %>
    <% end %>
  </div>
  <div class="span3"></div>
</div>
<script type="text/javascript">
  $(function() {
    var messageText = $("#message_body");

    if (localStorage) {
      var content = localStorage.getItem("autosave_<%= @conversation.id %>");
      if (content) {
          messageText.text(content);
      }
    }

    messageText.autoSave(function() {
      $(".alertBox").empty().append($('<div class="alert alert-danger"><span class="alertMessage"></span></div>'));
      $(".alertMessage").text("Saved as draft");
    }, 500, "<%= @conversation.id %>");
  });
</script>
