<div class="col-md-3">
  <%= link_to 'Send Message', '#windowTitleDialog', class: 'btn btn-primary btn-lg btn-block send-m send-icon', data: {toggle: 'modal'} unless @user == current_user %>
  <%= add_to_favorites %>
  <%= add_to_hidden_users %>
  <%= add_to_blocked_users %>
  <div class="clr"></div>
  <% if @user == current_user %>
  <div class="panel panel-default">
  <% else %>
  <div class="panel panel-default prof">
  <% end %>
    <div class="panel-heading">
      <h3 class="panel-title">Age</h3>
    </div>
    <div class="panel-body">
     <p><%= @user.age %></p>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Gender</h3>
    </div>
    <div class="panel-body">
      <%= @user.gender_hum %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Location</h3>
    </div>
    <div class="panel-body">
      <%= @user.address.present? ? @user.address : '-' %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Occupation</h3>
    </div>
    <div class="panel-body">
      <%= @user.occupation.present? ? @user.occupation : '-' %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Ethnicity</h3>
    </div>
    <div class="panel-body">
      <%= @user.ethnicity.present? ? @user.ethnicity.name : '-' %>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body">
      <%= @user.education.present? ? @user.education.name : '-' %>
    </div>
    </div>
     <%= render 'profiles/right_bar_user_events' if @user.events.any? %>
     <%= render 'profiles/right_bar_user_activities' if @user.activities.any? %>
  </div>
</div>
