<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">

    <div class="col-md-12 showing">
      <div class="row">
        <div class="col-md-12">
          <h4>Showing <%= pluralize(@users.size, 'people') %> </h4>
          <div class="col-md-3 row fr">
            <select class="form-control">
              <option value="">SORT BY</option>
              <option value="1">General</option>
              <option value="2">News</option>
              <option value="3">Media</option>
              <option value="4">Funny</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <%= render @users %>
  </div>
  <%= render 'layouts/right_side' %>
</div>

<%= content_for :footer_js do %>
<%= javascript_include_tag  %>
<script type="text/javascript">
  // $("select").selectify();

  $(function(){
    $('#multiAccordion1').multiAccordion({
      active: [1, 2],
      click: function(event, ui) {
  //console.log('clicked')
  },
  init: function(event, ui) {
  //console.log('whoooooha')
  },
  tabShown: function(event, ui) {
  //console.log('shown')
  },
  tabHidden: function(event, ui) {
  //console.log('hidden')
  }

  });

    $('#multiAccordion1').multiAccordion("option", "active", [0, 0]);
  });

  $(function(){
    $('#multiAccordion2').multiAccordion({
      active: [],
      click: function(event, ui) {
  //console.log('clicked')
  },
  init: function(event, ui) {
  //console.log('whoooooha')
  },
  tabShown: function(event, ui) {
  //console.log('shown')
  },
  tabHidden: function(event, ui) {
  //console.log('hidden')
  }

  });

    $('#multiAccordion2').multiAccordion("option", "active", [0, 3]);
  });

  $(function(){
    $('#multiAccordion3').multiAccordion({
      active: [],
      click: function(event, ui) {
  //console.log('clicked')
  },
  init: function(event, ui) {
  //console.log('whoooooha')
  },
  tabShown: function(event, ui) {
  //console.log('shown')
  },
  tabHidden: function(event, ui) {
  //console.log('hidden')
  }

  });

    $('#multiAccordion3').multiAccordion("option", "active", [0, 3]);
  });
  $(function(){
    $('#multiAccordion4').multiAccordion({
      active: [],
      click: function(event, ui) {
  //console.log('clicked')
  },
  init: function(event, ui) {
  //console.log('whoooooha')
  },
  tabShown: function(event, ui) {
  //console.log('shown')
  },
  tabHidden: function(event, ui) {
  //console.log('hidden')
  }

  });

    $('#multiAccordion4').multiAccordion("option", "active", [0, 3]);
  });
</script>
<% end %>
