<%= render 'shared/header' %>
<%= render "home/breadcrumbs" %>
<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="span3">
        <div class="search">
          <%= form_tag profiles_path, class: 'form-inline advanced_search', method: :get do %>
            <%= hidden_field_tag :terms, "#{@terms if @terms.present?}", name: 'search[terms]' %>
            <div class="search_head top">
              Search
            </div>
            <div class="age_fields">
              <p>Age:</p>
              <div class="span12">
                <div class="span5">
                  <%= number_field_tag :min_age, "#{@min_age if @min_age.present?}", class: 'input-mini age', placeholder: 'from', min: 18, max: 100, name: 'search[min_age]' %>
                </div>
                <div class="span2"> to </div>
                <div class="span5">
                  <%= number_field_tag :max_age, "#{@max_age if @max_age.present?}", class: 'input-mini age', placeholder: 'from', min: 18, max: 100, name: 'search[max_age]' %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="search_head location">
              Location
            </div>
            <div class="age_fields">
              <div class="span12">
                <div class="span6">
                  <label for="search[zipcode]">Zipcode:</label>
                  <%= text_field_tag :zipcode, "#{@zipcode if @zipcode.present?}", class: 'input-small zipcode', placeholder: 'zipcode', name: 'search[zipcode]' %>
                </div>
                <div class="span6">
                  <label for="search[distance]">Within:</label>
                  <%= number_field_tag :distance, "#{@distance if @distance.present?}", class: 'input-mini distance', placeholder: 'miles', min: 1, name: 'search[distance]' %>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="search_head location">
              Education & Ethnicity
            </div>
            <div class="age_fields">
              <div class="span12">
                <label for="search[education_id]">Education:</label>
                <%= select_tag 'education', options_from_collection_for_select(Education.all, "id", "name"), class: 'input-large', name: 'search[education_id]', :prompt => "Select something" %>
              </div>
              <div class="span12">
                <label for="search[ethnicity_id]">Ethnicity:</label>
                <%= select_tag 'education', options_from_collection_for_select(Ethnicity.all, "id", "name"), class: 'input-large', name: 'search[ethnicity_id]', :prompt => "Select something" %>
              </div>
              <div class="clearfix"></div>
            </div>
            <%= submit_tag 'Search', name: nil, class: 'btn'  %>
          <% end %>
        </div>
      </div>
      <div class="span9">
        <div class="profile_list">
          <div class="results"><h4><%= @users.size %> matching results</h4></div>
          <div class="listing">
            <%= render @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

