<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">
    <div class="col-md-12 users_info">
      <div class="row">
        <div class="col-md-12">
          <div class="user-image">
            <% if @user.profile_photo.present? %>
            <%= image_tag(@user.profile_photo.file.medium.url, class: 'open-tab') %>
            <% else %>
            <%= image_tag 'user-image.jpg' %>
            <% end %>
          </div>
          <div class="users_about_fullinfo">
            <h3><%= @user.name %></h3>
            <p>
              <%= @user.blurb %>
            </p>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">About</a></li>
        <li><a href="#tabs-2">Photo</a></li>
        <li><a href="#tabs-3">Top Fives</a></li>
      </ul>
      <div id="tabs-1">
        <% @questions_for_about.each_with_index do |question, index| %>
        <div class="about-summary">
          <p class="summary-heading"><%= question.question %></p>
          <p class="summary-info <%= 'empty' if question.answer.present? && question.answer.length == 0 %>">
            <%= question.answer %>
          </p>
        </div>
        <% end %>
      </div>
      <div id="tabs-2">
        <div class="user-photos">
          <% if @user.photos.present? %>
            <ul>
              <%= render @user.photos %>
            </ul>
          <% else %>
            <center>Sorry, <%= @user.first_name %> has no photos...</center>
          <% end %>
        </div>
      </div>
      <div id="tabs-3">
        <% @questions_for_personality.each_with_index do |question, index| %>
        <div class="about-summary">
          <p class="summary-heading"><%= question.question %></p>
          <p class="summary-info <%= 'empty' if question.answer.present? && question.answer.length == 0 %>">
            <%= question.answer %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'profile_right_side' %>
</div>

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<%# if @user != current_user %>
  <%#= link_to "Message", new_message_path, remote: true %> <%= icon("fa fa-comments")%>
<%# end %>
<%#= @user.occupation.present? ? @user.occupation : "" %>
<%#= @user.address.present? ? @user.address : "" %>
<%#= @user.age %>
<%#= @user.ethnicity.present? ? @user.ethnicity.name : "" %>
<%#= @user.education.present? ? @user.education.name : "" %>
<%= render 'shared/message_modal' unless @user == current_user %>
