<div class="row">
  <div class="edit">
    <h2>Profile</h2>
    <%= render 'menu' %>
    <%= simple_form_for(@user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :html => {:multipart => true}) do |f| %>
      <div class="span5">
        <h3>Personal information</h3>
        <h4>This information appears on your public profile, search results, and beyond.</h4>
        <div class="name2"></div>
        <%= devise_error_messages! %>

        <h5>First name:</h5>
        <%= f.input_field :first_name, placeholder: "Your first name", required: true, autocomplete: :off %>

        <h5>Last name:</h5>
        <%= f.input_field :last_name, placeholder: "Your last name", required: true, autocomplete: :off %>

        <h5>Address/city/state:</h5>
        <%= f.input_field :address, placeholder: "Address", required: true, autocomplete: :off %>

        <h5>Zip/Postal code:</h5>
        <%= f.input_field :zip, placeholder: "Your zip or postal code", required: true, autocomplete: :off %>

        <h5>Occupation:</h5>
        <%= f.input_field :occupation, placeholder: "Occupation", autocomplete: :off %>

        <h5>Birthday:</h5>
        <%= f.date_select :birthday,
        {:start_year => Time.now.year,
          :end_year => 1900,
          :use_short_month => true,
          :order => [:month, :day, :year],
          :prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}},
          {:class => 'year',
            :id => 'user_birthday'}%><br />
      </div>
      <div class="span5">
        <div class="side-bg">
        <br />
        Profile image:<br />
        <%= image_tag @user.profile_image_url(:thumb).to_s if @user.profile_image? %>
        <%= f.file_field :profile_image %>
        <h5>Gender:</h5>
        <label class="radio inline">
          <span class="pushm"><%= f.radio_button "gender", "1" %>
            Male
          </span>
        </label>
        <label class="radio inline">
          <span class="pushf">
            <%= f.radio_button "gender", "0" %>
            Female
          </span>
        </label><br /><br />
        <br />
        Ethnicity:
        <br />
        <br />
        <div><%= f.select(:ethnicity_id, Ethnicity.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select Ethicity') %></div>
        <br />
        Education:
        <br />
        <br />
        <div><%= f.select(:education_id, Education.find(:all).collect {|u| [u.name, u.id]}, :prompt => 'Select Ethicity') %></div>
        <br />
        <div><%= f.submit "Update profile", class: "btn btn-warning" %></div>
      </div>
    <% end %>
  </div>
</div>
