<%= render '/shared/header' %>

<div id="user">
  <div class="new_user">
    <div class="container">
      <ul class="nav nav-tabs">
	<li><%= link_to "Profile", edit_user_registration_path %>
	<li><%= link_to "Messaging Prefrences", edit_edit_account_path %>
      </ul>
      
      <div class="span8">
	<h2>Edit your profile</h2>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>
	
	<%= f.input_field :email, placeholder: "Your email", autocomplete: :off %>

	<%= f.input_field :password, placeholder: "Password", :autocomplete => "off" %>

	<%= f.input_field :password_confirmation, placeholder: "Password confirmation", autocomplete: :off %>

	<div><%= f.input_field :first_name, placeholder: "Your first name", required: true, autocomplete: :off %></div>

	<div><%= f.input_field :last_name, placeholder: "Your last name", required: true, autocomplete: :off %></div>

	<div><%= f.input_field :address, placeholder: "City",  autocomplete: :off %></div>

	<div><%= f.input_field :zip, placeholder: "Your zip or postal code", required: true, autocomplete: :off %></div>

	<div><%= f.input_field :occupation, placeholder: "Your occupation",  autocomplete: :off %></div>

	Birthday: 
	<%= f.date_select :birthday, 
  {:start_year => Time.now.year,
	:end_year => 1900,
	:use_short_month => true,
	:order => [:month, :day, :year],
	:prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}},
	{:class => 'year',
	:id => 'user_birthday'}
%><br />

	<h3>Cancel my account</h3>

	<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

	<%= link_to "Back", :back %>

      </div>
      
      <div class="span4">
	<%= image_tag("profile-placeholder.jpg") %><br />
	Update photo: <br /><br />

	Gender: <br />
	<label class="radio inline">
	  <div class="pushm"><%= f.radio_button "gender", "M" %>
	    Male
	  </div>
	</label>
	<label class="radio inline">
	  <div class="pushf">
	    <%= f.radio_button "gender", "F" %>
	    Female
	  </div>
	</label><br /><br />

	<div><%= f.submit "Update", class: "btn btn-warning" %></div>

      <% end %>
      
      </div>
    </div>
  </div>
</div>



