<p>
  Hi <%= @participant.name %>,
  <br /><br />
  <b><%= @commenter.name %></b> has posted a new comment on <b><%= @commentable.title %> <%= @commentable.class.name %>:</b>
</p>

<p>
  <%= @comment %>
</p>

<p>
  <%= link_to 'View comment', event_url(@commentable) %>
</p>

<p>
  Thanks,
  Friendiose Team
</p>

