<p>
  Hi <%= @owner.name %>,
  <br/><br/>
  <%= image_tag @participant.profile_photo.file.small.url %> - <%= @participant.name %> has joined your event <b><%= @event.title %></b>!
</p>

<p>
  <%= link_to 'Go to event', event_url(@event) %>
</p>

<p>
  Thanks,<br />
  Friendiose Team
</p>
