<p>
  Hi <%= @participant.name %>,
  <br /><br />
  <b><%= @commenter.name %></b> has posted a new comment on your <%= @commentable.class.name.downcase %> <b><%= @commentable.title %>:</b>
</p>

<p>
  <%= @comment.body %>
</p>

<p>
  <%= link_to 'View comment', event_url(@commentable) %>
</p>

<p>
  Thanks,<br />
  Friendiose Team
</p>
