<p>
  Hi <%= @participant.username %>,
  <br /><br />
  <b><%= @commenter.name %></b> has posted a new comment on your <b><%= @commentable.title %></b> <%= @commentable_type.downcase %>:
</p>

<p>
  <%= @comment.body %>
</p>

<p>
  <%= link_to 'View comment', event_url(@commentable) %>
</p>

<p>
  Thanks,<br />
  Friendiose Team
</p>
