<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">
    <div class="visitors-m">
      <div class="col-md-12 showing">
        <div class="row">
          <div class="col-md-12">
            <h4><%= pluralize(@favorites.size, 'Favorites') %></h4>
<!--             <div class="col-md-3 row fr">
              <select class="form-control">
                <option value="">SORT BY</option>
                <option value="1">General</option>
                <option value="2">News</option>
                <option value="3">Media</option>
                <option value="4">Funny</option>
              </select>
            </div> -->
          </div>
        </div>
      </div>


      <%#= @favorites.map(&:name).to_sentence %>


      <% @favorites.each do |favorite| %>
      <div class="col-md-12 users_info visitors">
        <div class="row">
          <div class="col-md-12">
            <div class="img-thumbnail">
              <% if favorite.favorited.profile_image.present? %>
                <%= image_tag(favorite.favorited.profile_image_url(:thumb), size: '100x100') %>
              <% else %>
                <%= image_tag("people_image.jpg") %>
              <% end %>
            </div>
            <div class="users_about_info">
              <h4><%= favorite.favorited.name %></h4>
              <p class="visit-time">
                <%= timeago_tag(favorite.created_at) %>
              </p>
            </div>
            <div class="fr">
              <p><%= favorite.favorited.address %></p>
              <p><%= favorite.favorited.age %> years old</p>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= render 'users/visitors_filter' %>
</div>
