<%
  user = comment.user
 %>

<div class="comments-details">
  <div class="c-imge">
    <% if user.profile_photo.present? %>
      <%= image_tag(comment.user.profile_photo.file.small.url) %>
    <% else %>
      <%= image_tag("people_image.jpg") %>
    <% end %>
  </div>
  <div class="c-about">
    <p class="c-heading"><%= user.name %></p>
    <p class="c-time-date pull-right"><%= time_ago_in_words(comment.created_at) + " ago" %></p>
    <p class="c-text"><%= sanitize(comment.body) %></p>
  </div>
  <div class="clr"></div>
</div>
