<li class="<%= notification.is_opened? ? 'read' : 'unread' %>" id="notification_<%= notification.id %>">
  <div class="checkbox">
    <input type="checkbox" value="<%= notification.id %>" name="notifications[n_<%= notification.id %>]" id="check_<%= notification.id %>">
    <label for="check_<%= notification.id %>"></label>
  </div>
  <%= link_to notification do %>
    <div class="m-image"><%= avatar(notification.noter) %></div>
    <div class="m-text">
      <p class="m-name"><%= raw(notification.content) %></p>
      <span class="pull-right">
        <span class="reply-m"></span><%= time_ago_in_words(notification.created_at) %>
      </span>
      <div class="clearfix"></div>
      <p class="pull-right toggle_notification">
        <%= link_to 'Mark as read', mark_notification_as_read_notification_path(notification), remote: true unless notification.is_opened? %>
      </p>

    </div>
    <%#= link_to 'Delete', conversation_path(messages.last.conversation),  method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
  <div class="clr"></div>
</li>
