<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Age </h3>
      <span class="edit-icon pull-right edit-age"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :birthday, {activator: ".edit-age",
            nil: 'I am empty...', inner_class: 'form-control', type: :date} %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Gender</h3>
      <span class="edit-icon pull-right edit-gender"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :education_id, type: :select,
            collection: User::GENDER.to_a,
            activator: ".edit-gender",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Occupation</h3>
      <span class="edit-icon pull-right edit-occupation"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :occupation, activator: ".edit-occupation",
            nil: 'I am empty...', inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Address</h3>
      <span class="edit-icon pull-right edit-address"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :address, activator: ".edit-address",
            nil: 'I am empty...', inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Ethnicity</h3>
      <span class="edit-icon pull-right edit-ethnicity"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :ethnicity_id, type: :select,
            collection: Ethnicity.all.map{|e| [e.id, e.name]},
            activator: ".edit-ethnicity",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
      <span class="edit-icon pull-right edit-education"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :education_id, type: :select,
            collection: Education.all.map{|e| [e.id, e.name]},
            activator: ".edit-education",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="col-md-12 events">
    <div class="row">
      <p class="heading-text">Events <span>(<%= current_user.events.size %>)</span></p>
      <% event = current_user.events.last %>
      <% if event.present? %>
      <div class="event-img">
        <%= image_tag 'event_image.jpg' %>
      </div>
      <div class="event-about">
        <h3><%= event.title %></h3>
        <p class="place-map"><%= event.location_name %>, <%= event.city %></p>
        <p class="date"><%= event.date.strftime("%A, %B %d, %Y") %></p>
        <p class="c-time"><%= event.time %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-12 events">
    <div class="row">
      <p class="heading-text">Activities <span>(1)</span></p>
      <div class="event-img">
        <%= image_tag 'event_image.jpg' %>
      </div>
      <div class="event-about">
        <h3>Bodybuilding Tips &amp; Drinks!</h3>
        <p class="place-map">Spaggos italian Cuisine, Los Angeles</p>
      </div>
    </div>
  </div>
</div>
