<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title bold">Age </h3>
      <!-- <span class="edit-icon pull-right edit-age"></span> -->
    </div>
    <div class="panel-body">
      <div class="age_placeholder">
        <%= current_user.age %>
        <%#= best_in_place current_user, :birthday, {activator: ".edit-age",
            nil: 'I am empty...', inner_class: 'form-control birthday_date', type: :date} %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title bold">Gender</h3>
      <span class="edit-icon pull-right edit-gender"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :gender, type: :select,
            collection: User::GENDER.to_a,
            activator: ".edit-gender",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
   <div class="panel-heading">
      <h3 class="panel-title bold">Location</h3>
      <span class="edit-icon pull-right edit-address"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :address, activator: ".edit-address",
            nil: 'I am empty...', inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Occupation</h3>
      <span class="edit-icon pull-right edit-occupation"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :occupation, activator: ".edit-occupation",
            nil: 'I am empty...', inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Ethnicity</h3>
      <span class="edit-icon pull-right edit-ethnicity"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :ethnicity_id, type: :select,
            collection: Ethnicity.all.map{|e| [e.id, e.name]},
            activator: ".edit-ethnicity",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
      <span class="edit-icon pull-right edit-education"></span>
    </div>
    <div class="panel-body">
      <div>
        <%= best_in_place current_user, :education_id, type: :select,
            collection: Education.all.map{|e| [e.id, e.name]},
            activator: ".edit-education",
            nil: 'I am empty...',
            inner_class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= render 'users/side_bar_user_events' if @events.any? %>
  <%= render 'users/side_bar_user_activities' if @activities.any? %>
</div>

<script type="text/javascript">
  // $('span.edit-age').on('click', function(event) {
  //   $.ajax({
  //     url: "/edit_age",
  //     type: "GET"
  //   });
  // });
</script>
