<% unless user.hidden_for?(current_user) %>
<%= link_to profile_path(user) do %>
  <div class="col-md-12 users_info">
    <div class="row">
      <div class="col-md-12">
        <div class="img-thumbnail">
          <% if user.profile_image.present? %>
            <%= image_tag(user.profile_image_url(:thumb), size: '100x100') %>
          <% else %>
            <%= image_tag("people_image.jpg") %>
          <% end %>
        </div>

        <div class="users_about_info">
          <h4><%= user.name %></h4>
          <p>
            <%= sanitize truncate(user.questions.first.answer, omision: "...", length: 300) %>
          </p>
        </div>

        <div class="fr">
          <p><%= user.address %></p>
          <p><%= user.age %> years old</p>
          <p><%= user.blocked_for?(current_user) ? 'Blocked' : '' %></p>
        </div>

        <div class="clr"></div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
