<!-- used in profile/index - domain/profiles -->
<div class="profile_unit profile_<%= user.id %>">
  <div class="span3">
    <% if user.profile_image.present? %>
      <%= link_to image_tag(user.profile_image_url(:thumb), class: 'img-polaroid', size: '100x60'), profile_path(user) %>
    <% else %>
      <%= link_to image_tag("profile-placeholder1.png"), profile_path(user) %>
    <% end %>
  </div>
  <div class="span6">
    <div class="user_name">
      <%= link_to user.name, profile_path(user) %>
    </div>
    <div class="about_user">
      <%= user.about_user %>
    </div>
  </div>
  <div class="span3">
    <%= user.address %><br>
    Age: <%= user.age %>
  </div>
  <div class="clearfix"></div>
</div>
<hr>
