<div class="panel panel-default">
  <div class="panel panel-default connections_panel">
    <div class="panel-heading">
      <h3 class="panel-title">Verfications</h3>
    </div>
    <div class="panel-body verified-s">
      <a href="#">
        <div class="email-verified row address tooltip_element orange-tooltip" data-toggle="tooltip" data-placement="top" title="<%= current_user.email %>">
          <p>Email Address</p>
          <span class="verified">Verified</span>
        </div>
      </a>
      <%= check_connection('Facebook')%>
      <%= check_connection('LinkedIn')%>
      <%= check_connection('Twitter')%>
      <%= check_connection('GPlus')%>
    </div>
  </div>
</div>
