<div class="row">
  <%= render 'layouts/left_side' %>

  <div role="main" class="col-md-6">
    <div class="setting-details">
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Email Notifications</a></li>
          <li><a href="#tabs-2">Password</a></li>
          <li><a href="#tabs-3">Hidden Users</a></li>
          <li><a href="#tabs-4">Blocked Users</a></li>
          <li><a href="#tabs-5">Events</a></li>
          <li><a href="#tabs-6">Activity Partners</a></li>
        </ul>

        <div id="tabs-1">
          <div class="notifications">
            <%= form_for current_user.mail_setting do |f| %>
            <div class="checkbox">
              <%= f.check_box :new_message %>
              <%= f.label :new_message, 'Receive a new message' %>
              <!-- <br> -->
              <%#= f.check_box :new_reply %>
              <%#= f.label :new_reply, 'Receive a new reply' %>
              <br>
              <%= f.check_box :join_event %>
              <%= f.label :join_event, 'Someone joins your event' %>
              <br>
              <%= f.check_box :comment_on_event %>
              <%= f.label :comment_on_event, 'New comment on your event' %>
              <br>
              <%= f.check_box :viewed_profile %>
              <%= f.label :viewed_profile, 'Someone viewed your profile' %>
              <br>
              <%= f.check_box :newsletter %>
              <%= f.label :newsletter, 'Newsletter' %>
              <br>
              <br>
              <button type="submit" class="btn btn-default send-m-button"> Save Changes</button>
            </div>
            <% end %>
          </div>
        </div>

        <div id="tabs-2">
          <div class="password">
            <form role="form">
              <div class="form-group border-bottom">
                <label for="Email1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@domain.com">
              </div>
              <div class="form-group border-bottom">
                <div class="row">
                  <div class="col-md-12"><label for="Password">Change your password</label></div>
                  <div class="col-md-6"><input type="password" class="form-control" id="Newpassword" placeholder="New Password"></div>
                  <div class="col-md-6"><input type="password" class="form-control" id="Repeatnewpassword" placeholder="Repeat New Password"></div>
                </div>
              </div>
              <div class="form-group border-bottom border-none">
                <div class="row">
                  <div class="col-md-12">
                    <label for="Password">Confirm your changes</label>
                  </div>
                  <div class="col-md-8">
                    <input type="password" class="form-control" id="Currentassword" placeholder="Current Password">
                  </div>
                  <div class="col-md-4">
                    <button class="btn btn-default send-m-button" type="submit"> Save Changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div id="tabs-3">
          <div class="hidden-user">
            <ul>
              <% @hidden_users.each do |user| %>
                <%= link_to profile_path(user) do %>
              <li class="hidden_user_<%= user.id %>">
                <div class="col-md-8">
                  <div class="hide-user-image"><% if user.profile_image.present? %>
                <%= image_tag(user.profile_image_url(:thumb), size: '100x100') %>
              <% else %>
                <%= image_tag("people_image.jpg") %>
              <% end %></div>
                  <p><%= user.name %></p>
                </div>
                <div class="col-md-4">
                  <%= link_to 'Unhide', toggle_hidden_path(hidden_user_id: user.id, action_type: 'unhide'), remote: true %>
                  <span>.</span>
                  <a href="#">Report</a>
                </div>
                <div class="clr"></div>
              </li>
              <% end %><% end %>
            </ul>
          </div>
        </div>

        <div id="tabs-4">
          <div class="hidden-user">
            <ul>
              <% @blocked_users.each do |user| %>
                <%= link_to profile_path(user) do %>
              <li class="blocked_user_<%= user.id %>">
                <div class="col-md-8">
                  <div class="hide-user-image"><% if user.profile_image.present? %>
                <%= image_tag(user.profile_image_url(:thumb), size: '100x100') %>
              <% else %>
                <%= image_tag("people_image.jpg") %>
              <% end %></div>
                  <p><%= user.name %></p>
                </div>
                <div class="col-md-4">
                  <%= link_to 'Unblock', toggle_blocked_path(blocked_user_id: user.id, action_type: 'unblock'), remote: true %>
                  <span>.</span>
                  <a href="#">Report</a>
                </div>
                <div class="clr"></div>
              </li>
              <% end %><% end %>
            </ul>
          </div>
        </div>

        <div id="tabs-5">
          <div class="event-m">
            <% @events.each do |event| %>
              <%= link_to event do %>
              <div class="col-md-12 event_m">
                <div class="event-image">
                  <% if event.image.present? %>
                    <%= image_tag(event.image_url) %>
                  <% else %>
                    <%= image_tag 'event_image.jpg' %>
                  <% end %>
                </div>

                <div class="event-about">
                  <h3><%= event.title %></h3>
                  <p class="place-map"><%= event.location_name %>, <%= event.city %></p>
                  <p class="date"><%= event.date.strftime("%A, %B %d, %Y") %></p>
                  <p class="c-time"><%= event.time %></p>
                  <div>
                    <% if event.user.profile_photo.present? %>
                    <%= image_tag event.user.profile_photo.file.small.url, size: '30x30' %>
                    <% else %>
                    <%= image_tag 'people_image.jpg' %>
                    <% end %>
                    <p class="host-by">Hosted by :</p>
                    <p class="host-by-name"><%= event.user.name %></p>
                  </div>
                </div>
                <div class="clr"></div>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div id="tabs-6">
          <div class="activity_m">
            <% @activities.each do |act| %>
            <% user = act.user %>
            <%= link_to act do %>
              <div class="col-md-12 event_m">
                <div class="event-image">
                <% if activity.image.present? %>
                    <%= image_tag(activity.image_url) %>
                  <% else %>
                    <%= image_tag 'event_image.jpg' %>
                  <% end %>
                </div>
                <div class="event-about">
                  <h3>I am looking for a <%= act.title %> Partner</h3>
                  <p class="place-map"><%= act.location_name %>, <%= act.city %></p>
                  <p class="date"><%= act.date.strftime("%A, %B %d, %Y") %></p>
                  <p class="c-time"><%= act.time %></p>
                  <p class="p-time"><%= act.frequency %></p>
                  <div>
                    <% if user.profile_photo.present? %>
                    <%= image_tag user.profile_photo.file.small.url, size: '30x30' %>
                    <% else %>
                    <%= image_tag 'people_image.jpg' %>
                    <% end %>
                    <p class="act-name"><%= user.name %></p>
                    <p class="act-d"><%= user.age %>/<%= user.gender_initial %>/Toronto</p>
                    <div class="clr"></div>
                  </div>
                </div>
                <div class="clr"></div>
              </div>
            <% end %>
            <% end %>
          </div>
        </div>


      </div>
    </div>
  </div>
  <%= render 'right_side' %>
</div>
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>
