<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">
    <div class="visitors-m">
      <div class="col-md-12 showing">
        <div class="row">
          <div class="col-md-12">
            <h4><%= pluralize(@visitors.size, 'people') %>  visited your profile </h4>
            <div class="col-md-3 row fr">
<!--               <select class="form-control">
                <option value="">SORT BY</option>
                <option value="1">General</option>
                <option value="2">News</option>
                <option value="3">Media</option>
                <option value="4">Funny</option>
              </select> -->
            </div>
          </div>
        </div>
      </div>
      <% if current_user.has_opened_visitors? %>
      <% @visitors.each do |visitor| %>
      <%= link_to profile_path(visitor) do %>
      <div class="col-md-12 users_info visitors">
        <div class="row">
          <div class="col-md-12">
            <div class="img-thumbnail">
              <% if visitor.profile_photo.present? %>
                <%= image_tag(visitor.profile_photo.file.small.url) %>
              <% else %>
                <%= image_tag("people_image.jpg") %>
              <% end %>
            </div>
            <div class="users_about_info">
              <h4><%= visitor.name %></h4>
              <p class="visit-time">
                <%= timeago_tag(current_user.visits.where(visitor: visitor).first.visited_at) %>
              </p>
            </div>
            <div class="fr">
              <p><%= visitor.address %></p>
              <p><%= visitor.age %> years old</p>
            </div>
            <div class="clr"></div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
      <% else %>
        <div class="col-md-12">
          <h3><center>You need to open this feature by posting to facebook or twitter.</center></h3>
          <center>
            <button class="btn btn-default btn-lg creat-event" data-toggle="modal" data-target="#fb_modal">
              Post to facebook
            </button>
            <button class="btn btn-default btn-lg creat-event" data-toggle="modal" data-target="#fb_modal">
              Post on twitter
            </button>
          </center>
        </div>
      <% end %>
    </div>
  </div>
    <%#= render 'users/visitors_filter' %>
</div>


<!-- Modal -->
<div class="modal fade" id="fb_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Post to facebook</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
