<div class="footer">
<div class="name"></div>
  <div class="container">
<br />
    <ul>
       <li>
        <%= link_to "Contact us", "mailto:naushad@friendiose.com" %> | <%=  link_to "Terms of Conditions", "#" %> | <%= link_to "Legal Notice", "#" %> | <%=  link_to "Privacy", "#" %> | <%=  link_to "About", "#" %>
      </li>
      <br / >
      <li>
       <%= image_tag('logo_2.png', size: "100x100") %><br />
        &copy; Friendiose 2013
      </li>
    </ul>
  </div>
</div>

