<% if user_signed_in? %>

<nav>
  <div class="navbar-header">
    <div class="container">
    <div class="navbar-brand"><%=link_to logo, profile_path %>
    <ul class="nav navbar-nav navbar-right">
          <li class="loggedin"><%= link_to icon("fa fa-envelope"), edit_user_registration_path %></li>
          <li class="loggedin"><%= link_to icon("fa fa-cog"), edit_user_registration_path %></li>
          <li class="loggedina"><%= link_to "Sign out" , destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
</div>
</nav>
<% else %>
<nav>
  <div class="navbar-header">
    <div class="container">
    <div class="navbar-brand"><%=link_to logo, root_path %>
    <ul class="nav navbar-nav navbar-right">
	  <li class="activa"><%= link_to "Sign up", new_user_registration_path %></li>
          <li class="signin"><%= link_to "Sign in", new_user_session_path %></li>
    </ul>
  </div>
</div>
</div>
</nav>
<% end %>
