<div class="row">
  <%= render 'layouts/left_side' %>

  <div role="main" class="col-md-6">
    <div class="col-md-12 users_info">
      <div class="row">
        <div class="col-md-12">
          <div class="user-image upload">
            <div class="loader"></div>
            <% if current_user.profile_photo.present? %>
              <%= image_tag(current_user.profile_photo.file.medium.url, class: 'open-tab') %>
            <% else %>
              <%= image_tag 'user-image.jpg', class: 'open-tab' %>
            <% end %>
          </div>
          <div class="users_about_fullinfo">
            <h3><%= current_user.name %></h3>
            <p class="edit-about-text">
              <%= best_in_place current_user, :blurb, activator: ".edit-blurb", nil: 'Click here to add a short blurb (maximum 140 characters)', inner_class: 'form-control' %>
              <span class="edit-icon edit-blurb"></span>
            </p>
          </div>
          <div class="clr"></div>
        </div>
      </div>
    </div>
    <!-- <div style="display:none;"> -->
    <%#= form_for current_user, :html => { :multipart => true }, :remote => true do |f| %>
        <%#= hidden_field_tag :upload_type, 'avatar' %>
        <!-- <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden"> -->
        <%#= f.file_field :profile_image %>
    <%# end %>
    <!-- </div> -->

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">About</a></li>
        <li><a href="#tabs-2">Photo</a></li>
        <li><a href="#tabs-3">Top Fives</a></li>
      </ul>
      <div id="tabs-1">
        <% @questions_for_about.each_with_index do |question, index| %>
        <div class="about-summary">
          <p class="summary-heading"><%= question.question %> <span class="edit-icon edit-icon-<%= question.id %>"></span> </p>
          <p class="summary-info <%= 'empty' if question.answer.present? && question.answer.length == 0 %>">
            <%= best_in_place question, :answer, :type => :textarea, activator: ".edit-icon-#{question.id}",
                  nil: 'I am empty...' %>
          </p>
        </div>
        <% end %>
      </div>
      <div class="spinner"></div>
      <div id="tabs-2">
        <div class="user-photos">
          <div class="upload-new">
            <button class="btn btn-primary btn-lg up-new" type="button">Upload New Photo</button>
            <div style="display:none;">
              <%= form_for Photo.new do |f| %>
                <%= f.file_field :file, multiple: true, name: "photo[file]" %>
              <% end %>
            </div>
          </div>
          <script id="template-upload" type="text/x-tmpl">
            {%=o.name%}
          </script>
          <ul class="my_photos">
            <%= render current_user.photos %>
          </ul>
        </div>
      </div>

      <div id="tabs-3">
        <% @questions_for_personality.each_with_index do |question, index| %>
        <div class="about-summary">
          <p class="summary-heading"><%= question.question %> <span class="edit-icon edit-icon-<%= question.id %>"></span></p>
          <p class="summary-info <%= 'empty' if question.answer.present? && question.answer.length == 0 %>">
            <%= best_in_place question, :answer, {:type => :textarea, activator: ".edit-icon-#{question.id}",
                              nil: 'I am empty...'} %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'users/right_side_edit' %>
</div>
<script>
$(document).ready(function () {
  $('#tabs').tabs();

  $('.open-tab').click(function (event) {
    $( "#tabs" ).tabs({ active: 1 });
  });
});
  // $('.user-image').click(function() {
  //     $('input[type=file]#user_profile_image').trigger('click');
  // });

  $('.up-new').click(function() {
      $('input[type=file]#photo_file').trigger('click');
  });

  // $('input[type=file]#user_profile_image').change(function() {
  //   $('.edit_user').submit();
  //   $('.loader').show();
  // });
</script>
