<%= link_to event do %>
  <div class="col-md-12 event_m">
    <div class="event-image">
      <%= image_tag 'event_image.jpg' %>
    </div>

    <div class="event-about">
      <h3><%= event.title %></h3>
      <p class="place-map"><%= event.location_name %>, <%= event.location %></p>
      <p class="date"><%= event.date.strftime("%A, %B %d, %Y") %></p>
      <p class="c-time"><%= event.time %></p>
      <div>
        <%= image_tag event.user.profile_image_url(:thumb), size:'30x30' %>
        <p class="host-by">Hosted by :</p>
        <p class="host-by-name"><%= event.user.name %></p>
      </div>
    </div>
    <div class="clr"></div>
  </div>
<% end %>

<%# event.participants.each do |p| %>
<%#= simple_user_avatar(p) %>
<%#= p.short_name %>
<%# end %>
