<%= link_to event do %>
  <div class="col-md-12 event_m">
    <div class="event-image">
      <% if event.image.present? %>
        <%= image_tag(event.image_url) %>
      <% else %>
        <%= image_tag 'event_image.jpg' %>
      <% end %>
    </div>

    <div class="event-about">
      <h3><%= event.title %></h3>
      <p class="place-map"><%= event.location_name %>, <%= event.city %></p>
      <p class="date"><%= event.date.strftime("%A, %B %d, %Y") %></p>
      <p class="c-time"><%= event.time %></p>
      <div>
        <% if event.user.profile_photo.present? %>
        <%= image_tag event.user.profile_photo.file.small.url %>
        <% else %>
        <%= image_tag 'people_image.jpg' %>
        <% end %>
        <p class="host-by">Hosted by :</p>
        <p class="host-by-name"><%= event.user.name %></p>
      </div>
    </div>
    <div class="clr"></div>
  </div>
<% end %>

<%# event.participants.each do |p| %>
<%#= simple_user_avatar(p) %>
<%#= p.short_name %>
<%# end %>
