<div class="row attending-peoples participant_<%= @participant.id %>">
  <div class="col-xs-12">
    <%= link_to profile_path(@participant) do %>
    <div class="attending-peoples-image">
      <% if @participant.profile_photo.present? %>
        <%= image_tag(@participant.profile_photo.file.small.url) %>
      <% else %>
        <%= image_tag("people_image.jpg") %>
      <% end %>
    </div>
    <p><%= (current_user == @participant) ? 'Me' : @participant.username %></p>
    <% end %>
    <div class="clr"></div>
  </div>
</div>
