<div class="col-md-3">
  <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary btn-lg btn-block creat-event' %>

  <p class="filter-e">Filter Events By :</p>
  <div class="panel panel-default">
    <%= form_tag '/events', method: :get, id: 'filter_events', remote: true do %>
    <div id="multiAccordion1">
      <h3 class="panel-title panel-heading-text"><a href="#">Location</a></h3>
      <div>
        <div class="panel-body event_location_filter">
          <div class="location">
            Within <%= text_field_tag :distance, '', name: 'search[distance]', autocomplete: :off %> mile of me
          </div>
        </div>
      </div>
    </div>

    <div id="multiAccordion2">
      <h3 class="panel-title panel-heading-text border-t"><a href="#">Time</a></h3>
      <div>
        <div class="panel-body event_time_filter">
          <div class="times">
            <%= select_tag(:time, options_for_select( [['Today', 1], ['Tomorrow', 2]]),
                {name: 'search[time]', id: 'time_select', class: 'form-control form_select', prompt: 'All'}) %>
          </div>
        </div>
      </div>
    </div>

    <div id="multiAccordion3">
      <h3 class="panel-title panel-heading-text border-t"><a href="#">Attendees</a></h3>
      <div>
        <div class="panel-body event_age_filter">
          <div class="age">
            <span>Age </span>
            <select class="form-control age_select_one form_select" style="width:30%;" name="search[age_min]">
               <option value="18"> 18 </option>
               <option value="19"> 19 </option>
               <option value="20"> 20 </option>
               <option value="21"> 21 </option>
               <option value="22"> 22 </option>
               <option value="23"> 23 </option>
               <option value="24"> 24 </option>
               <option value="25"> 25 </option>
               <option value="26"> 26 </option>
               <option value="27"> 27 </option>
               <option value="28"> 28 </option>
               <option value="29"> 29 </option>
               <option value="30"> 30 </option>
               <option value="31"> 31 </option>
               <option value="32"> 32 </option>
               <option value="33"> 33 </option>
               <option value="34"> 34 </option>
               <option value="35"> 35 </option>
               <option value="36"> 36 </option>
               <option value="37"> 37 </option>
               <option value="38"> 38 </option>
               <option value="39"> 39 </option>
            </select>
            <span style="margin-left: 16px;">To </span>
            <select class="form-control age_select_two form_select" style="width:30%;" name="search[age_max]">
               <option value="19"> 19 </option>
               <option value="20"> 20 </option>
               <option value="21"> 21 </option>
               <option value="22"> 22 </option>
               <option value="23"> 23 </option>
               <option value="24"> 24 </option>
               <option value="25"> 25 </option>
               <option value="26"> 26 </option>
               <option value="27"> 27 </option>
               <option value="28"> 28 </option>
               <option value="29"> 29 </option>
               <option value="30"> 30 </option>
               <option value="31"> 31 </option>
               <option value="32"> 32 </option>
               <option value="33"> 33 </option>
               <option value="34"> 34 </option>
               <option value="35"> 35 </option>
               <option value="36"> 36 </option>
               <option value="37"> 37 </option>
               <option value="38"> 38 </option>
               <option value="39" selected='selected'> 39 </option>
            </select>
            <div class="clr"></div>
          </div>
          <div class="gender">
            <span>Gender</span>
            <%= select_tag(:time, options_for_select( Event::GENDER.invert.to_a),
                {name: 'search[gen]', id: 'time_select', class: 'form-control form_select', prompt: 'All'}) %>
            <div class="clr"></div>
          </div>

          <div class="gender">
            <span>Ethnicity</span>
            <%= select_tag(:ethnicity_id, options_for_select( Ethnicity.all.collect{|e| [e.name, e.id]}),
                {name: 'search[ethn]', id: 'time_select', class: 'form-control form_select', prompt: 'All'}) %>
          </div>
        </div>
      </div>
    </div>

    <div id="multiAccordion4">
     <h3 class="panel-title panel-heading-text border-t"><a href="#">Category</a></h3>
     <div>
       <div class="panel-body event_category_filter">
        <div class="checkbox">
          <% Category.all.each do |cat| %>
          <input id="c_<%= cat.id %>" type="checkbox" data-catid="<%= cat.id %>">
          <label for="c_<%= cat.id %>"><%= cat.name %></label>
          <br>
          <% end %>
          <%= hidden_field_tag :cat_ids, '', name: 'search[cat_ids]' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('input#distance').focusout(function() {
    $('#filter_events').submit();
  });
  $('.form_select').change(function() {
    $('#filter_events').submit();
  });

  $('input:checkbox').on('click', function(event) {
    var ids = []
    $('input:checkbox:checked').each(function() { ids.push( $(this).data('catid'))})
    // alert($(this).data('userid'));
    $('input#cat_ids').val(ids.join(''));
    $('#filter_events').submit();
  });

  $('.age_select_one').on('change', function(event) {
    age_one = $('.age_select_one  option:selected').val();
    var age_two = ''
    for (var i=age_one; i <= 80; i++) {
      age_two +=  "<option value=" + i + ">" + i + "</option>";
    }
    $('.age_select_two').html(age_two).removeAttr('disabled');
  });
</script>
