<%= render 'shared/header' %>

<div class="container">
  <div class="row">
    <div class="span3">
      <%= render 'sidebar' %>
    </div>

    <div class="span7">
      <div class="new_event_form">
        <div class="line1"><h4>Create event</h4></div>
        <%= form_for current_user.events.new, remote: true do |f| %>
          <h5>Event title:</h5>
          <div><%= f.text_field :title, placeholder: "Event title", required: true, autocomplete: :off %></div>
          <h5>Event description:</h5>
          <div><%= f.text_area :description, placeholder: "Event description", required: true, autocomplete: :off %></div>
          <h5>Event date:</h5>
          <div><%= f.text_field :date  %></div>
          <h5>Event time:</h5>
          <div><%= f.text_field :time  %></div>
          <h5>Event location:</h5>
          <div><%= f.text_field :location, placeholder: "Event location", required: true, autocomplete: :off %></div>
          <div>
            <%= f.submit "Create event", class: 'btn btn-primary' %>
            <%= link_to "Cancel", '#', class: 'btn cancel_event' %>
          </div><br />
        <% end %>
      </div>
      <div class="events_list">
        <!-- look in events/event.hmlt.erb -->
        <%= render @events %>
      </div>
    </div>

    <div class="span2">
      <span class="btn btn-success fileinput-button">
	      <i class="icon-plus icon-white"></i>
	      <span class="white"><%= link_to "Create event", '#', class: 'add_event' %></span>
      </span>
    </div>
  </div>
</div>
<script type="text/javascript">
$('.add_event').click(function(event) {
  $('.new_event_form').css('display', 'block');
});
$('.cancel_event').click(function(event) {
  $('.new_event_form').css('display', 'none');
});
</script>
