<div class="background-gradient">
  <div id="user">
    <div class="main1">
      <div class="logo"><%#= link_to logo, root_path %></div>
      <div class="new_user">

	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div id="formbox-login-tips" class="tips">
	    Don't have an account?

	    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name) %>
	      <br />	      <br />
	    <%= render "devise/shared/links" %>
	  </div>

       <% if notice %>
        <p class="notice"><%= notice if flash[:notice] %></p>
       <% else %>

       <% end %>

       <% if alert %>
         <p class="alert"><%= alert %></p>
       <% else %>

       <% end %>



	  <div class="signup-body">
	  <h3>Log in to Friendiose</h3>

	  <div><%= f.input_field :email, placeholder: "Your email", required: true %></div>

	  <div><%= f.input_field :password, placeholder: "Password", required: true  %></div>


	  <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me, checked: true %> Remember my email on this computer</div>
	  <% end -%><br />

	    <div class="Form_Field Form_Field_Text marketing"><%= f.submit "Sign in", class: "btn btn-warning"  %></div><br />

	  <% end %>

	<% end -%>

      </div>
    </div>
  </div>
</div>
</div>

