<img alt="<%= photo.title %>" src="<%= photo.file.url(:large) %>" id="cropbox">
<%= form_for photo, remote: true do |f| %>
  <div class="control-group">
    <% %w[x y w h].each do |attribute| %>
      <%= f.text_field "crop_#{attribute}", hidden: true %>
    <% end %>
    <%= f.submit "Crop", class: 'btn btn-primary btn-lg photo-b', disable_with: 'Saving photo...' if photo.is_owned_by?(current_user) %>
    <span class="crop_message"></span>
  </div>
<% end %>

<% if photo.is_owned_by?(current_user) %>
<script type="text/javascript">
  jQuery(document).ready(function(){

    jQuery('#cropbox').Jcrop({
      onChange: showCoords,
      onSelect: showCoords,
      // setSelect: [0, 0, 558, 558],
      bgColor: 'transparent',
      aspectRatio: 1
    });

  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    jQuery('#photo_crop_x').val(c.x);
    jQuery('#photo_crop_y').val(c.y);
    // jQuery('#x2').val(c.x2);
    // jQuery('#y2').val(c.y2);
    jQuery('#photo_crop_w').val(c.w);
    jQuery('#photo_crop_h').val(c.h);
  };
</script>
<% end %>
