<!-- <li class="photo_<%= photo.id %>">
  <%= image_tag(photo.file.thumb.url, class: 'img-polaroid') %>
  <p>Lorem ipsum dolor sit amet,consectetur adipisicing elit, sed do eiusmod tempor incidiunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <%= link_to "delete", photo, :confirm => 'Are you sure?', :method => :delete, remote: true %>
</li>
 -->

<li class='photo_<%= photo.id %>'>
  <%= photo.profile_photo? ? '(current profile photo)' : '' %>
  <%= image_tag(photo.file.url) %>
 <%= best_in_place photo, :title, activator: ".edit-caption.photo_#{photo.id}",  nil: 'I am empty...', inner_class: 'form-control' %><span class="edit-icon pull-right edit-caption photo_<%= photo.id %>"></span> </p>
  <%= form_tag add_as_profile_photo_path(photo), class: 'form-inline', method: :put do %>
    <%= button_tag 'Set as profile picture', class: 'btn btn-primary btn-lg photo-b' %>
  <% end %>
  <%= link_to "delete", photo, :confirm => 'Are you sure?', :method => :delete, remote: true, class: 'btn btn-primary btn-lg photo-b' %>
  <div class="photo-up-down"> <a href="#">up</a> <a href="#">down</a> </div>
</li>
