<div class="col-md-3">

  <% if @owner == current_user %>
   <%= link_to 'End Activity', activity_path(@activity), class: 'btn btn-danger btn-lg btn-block mark-icon',
              method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit Activity Details', edit_activity_path(@activity), class: 'btn btn-primary btn-lg btn-block edit-event margin-b' %>
  <% else %>
  <!-- <button type="button" class="btn btn-primary btn-lg btn-block creat-event margin-b">i'm interested</button> -->
    <span class="attend_button">
      <%= attend_to_activity(@activity) %>
    </span>
  <% end %>
  <% unless @owner == current_user %>
  <button type="button" class="btn btn-primary btn-lg btn-block report-i">Report</button>
  <% end %>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Hosted By</h3>
    </div>
    <div class="panel-body">
      <div class="hosted-image">
        <% if @owner.profile_photo.present? %>
        <%= image_tag(@owner.profile_photo.file.thumb.url) %>
        <% else %>
        <%= image_tag("people_image.jpg") %>
        <% end %>
      </div>
      <p class="host-by-title">Anthony Panepinto</p>
    </div>


    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@participants.size, 'person')  %> interested</h3>
    </div>
    <div class="panel-body pading-n event_participants">
      <% @participants.each do |user| %>
        <div class="row attending-peoples participant_<%= user.id %>">
          <div class="col-xs-12">
            <%= link_to profile_path(user) do %>
            <div class="attending-peoples-image">
              <% if user.profile_photo.present? %>
                <%= image_tag(user.profile_photo.file.thumb.url) %>
              <% else %>
                <%= image_tag("people_image.jpg") %>
              <% end %>
            </div>
            <p><%= (current_user == user) ? 'Me' : user.name %></p>
            <% end %>
            <div class="clr"></div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Age</h3>
    </div>
    <div class="panel-body">
      <%= @owner.age %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Gender</h3>
    </div>
    <div class="panel-body">
      <%= @owner.gender_hum %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Occupation</h3>
    </div>
    <div class="panel-body">
      <%= @owner.occupation.present? ? @owner.occupation : '-' %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Address</h3>
    </div>
    <div class="panel-body">
    <% if @owner.address.nil? %>
      -
    <% else %>
      <%= @owner.address %>
    <% end %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Ethnicity</h3>
    </div>
    <div class="panel-body">
    <% if @owner.ethnicity.name.nil? %>
      -
    <% else %>
      <%= @owner.ethnicity.name %>
    <% end %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body">
      <% if @owner.ethnicity.name.nil? %>
       -
      <% else %>
       <%= @owner.ethnicity.name %>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <center>
        <h2>Attention!</h2>
      </center>
      <div class="modal-body">
        This event has reached maximum number of participants, you can join as participant in waiting queue and if a participant will decline his participation, the first in waiting queue will be automatically added to participants.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
        <%#= link_to 'Add me to waiting list', attend_event_path(@event), method: :post, remote: true, class: 'btn btn-primary creat-event' %>
      </div>
    </div>
  </div>
</div>
