<% user = activity.user %>
<%= link_to activity do %>
  <div class="col-md-12 event_m">
    <div class="event-image">
      <% if activity.image.present? %>
        <%= image_tag(activity.image_url) %>
      <% else %>
        <%= image_tag 'event_image.jpg' %>
      <% end %>
    </div>

    <div class="event-about">
      <h3>I am looking for a <%= activity.title %> partner</h3>
      <p class="place-map"><%= activity.location_name %>, <%= activity.city %></p>
      <p class="date"><%= activity.date.strftime("%A, %B %d, %Y") %></p>
      <p class="c-time"><%= activity.time %></p>
      <p class="p-time"><%= activity.frequency %></p>
      <div>
        <% if user.profile_photo.present? %>
          <%= image_tag(user.profile_photo.file.small.url) %>
        <% else %>
          <%= image_tag 'people-image.jpg' %>
        <% end %>
        <p class="act-name"><%= user.name %></p>
        <p class="act-d"><%= user.age %>/<%= user.gender_initial %>/Toronto</p>
        <div class="clr"></div>
      </div>
    </div>
    <div class="clr"></div>
  </div>
<% end %>
