<div class="col-md-3">

  <% if @owner == current_user %>
   <%= link_to 'End Activity', activity_path(@activity), class: 'btn btn-danger btn-lg btn-block mark-icon',
              method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit Activity Details', edit_activity_path(@activity), class: 'btn btn-primary btn-lg btn-block edit-event margin-b' %>
  <% else %>
  <button type="button" class="btn btn-primary btn-lg btn-block creat-event margin-b">i'm interested</button>
  <% end %>
  <button type="button" class="btn btn-primary btn-lg btn-block report-i">Report</button>
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Hosted By</h3>
    </div>
    <div class="panel-body">
      <div class="hosted-image">
        <% if @owner.profile_image.present? %>
        <%= image_tag(@owner.profile_image_url(:thumb), size: '35x35') %>
        <% else %>
        <%= image_tag("people_image.jpg") %>
        <% end %>
      </div>
      <p class="host-by-title">Anthony Panepinto</p>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Age</h3>
    </div>
    <div class="panel-body">
      <%= @owner.age %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Gender</h3>
    </div>
    <div class="panel-body">
      <%= @owner.gender_hum %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Occupation</h3>
    </div>
    <div class="panel-body">
      <%= @owner.occupation.present? ? @owner.occupation : '-' %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Address</h3>
    </div>
    <div class="panel-body">
    <% if @owner.address.nil? %>
      -
    <% else %>
      <%= @owner.address %>
    <% end %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Ethnicity</h3>
    </div>
    <div class="panel-body">
    <% if @owner.ethnicity.name.nil? %>
      -
    <% else %>
      <%= @owner.ethnicity.name %>
    <% end %>
    </div>

    <div class="panel-heading">
      <h3 class="panel-title">Education</h3>
    </div>
    <div class="panel-body">
      <% if @owner.ethnicity.name.nil? %>
       -
      <% else %>
       <%= @owner.ethnicity.name %>
      <% end %>
    </div>
  </div>
</div>
