<script type="text/javascript">
// $(function() {
//   var faye = new Faye.Client("<%#= ENV['FAYE_URL'] %>");
//   faye.subscribe("/notifications/for/user/<%#= current_user.id %>", function (data) {
//     eval(data);
//     $.ajax({url: "/refresh_notifications/", type: "GET"});
//   });
// });
// above code used with FAYE

<% if Rails.env.development? %>
  // Enable pusher logging - don't include this in production
  // Pusher.log = function(message) {
  //   if (window.console && window.console.log) {
  //     window.console.log(message);
  //   }
  // };
<% end %>
  var pusher = new Pusher("<%= ENV['PUSHER_KEY'] %>");
  var channel = pusher.subscribe('new_messages_for_user_<%= current_user.id %>');
  channel.bind('new_message', function(data) {
    $('.new_messages').html(
      '<span class="badge badge-important">' + data.new_messages_count +'</span>'
    );
    $.pnotify({
      title: data.message_title,
      text: data.message,
      type: "info",
      icon: 'ui-icon ui-icon-signal-diag'
    });
  });

  channel.bind('new_notification', function(data) {
    // if (data.user_id != <%= current_user.id %>) {
      if ($('.new_notifications span.badge').length > 0) {
        number = parseInt($('.new_notifications span.badge').html())+1;
        $('.new_notifications span.badge').html(number);
      } else{
        $('.new_notifications').html('<span class="badge badge-important">1</span>');
      };
    // };
  });

  <% current_user.attended_events.each do |event| %>
    var channel = pusher.subscribe('notifications_for_event_<%= event.id %>');
    channel.bind('new_comment', function(data) {
      if (data.user_id != <%= current_user.id %>) {
        $.pnotify({
          title: data.message_title,
          text: data.message,
          type: "info",
          icon: 'ui-icon ui-icon-signal-diag'
        });
      };
    });
  <% end %>
</script>
