<div class="col-md-3">
  <%= form_tag profiles_path, id: 'filter_profiles', class: 'form advanced_search', method: :get, remote: true do %>
    <div class="panel panel-default">
      <div id="multiAccordion1">
        <h3 class="panel-title panel-heading-text"><a href="#">Age</a></h3>
        <div>
          <div class="panel-body age">
            <span>Age </span>
            <select class="form-control age_select_one form_select" style="width:28%;" name="search[age_min]">
               <option value="18"> 18 </option>
               <option value="19"> 19 </option>
               <option value="20"> 20 </option>
               <option value="21"> 21 </option>
               <option value="22"> 22 </option>
               <option value="23"> 23 </option>
               <option value="24"> 24 </option>
               <option value="25"> 25 </option>
               <option value="26"> 26 </option>
               <option value="27"> 27 </option>
               <option value="28"> 28 </option>
               <option value="29"> 29 </option>
               <option value="30"> 30 </option>
               <option value="31"> 31 </option>
               <option value="32"> 32 </option>
               <option value="33"> 33 </option>
               <option value="34"> 34 </option>
               <option value="35"> 35 </option>
               <option value="36"> 36 </option>
               <option value="37"> 37 </option>
               <option value="38"> 38 </option>
               <option value="39"> 39 </option>
            </select>
            <span style="margin-left: 25px;">To </span>
            <select class="form-control age_select_two form_select" style="width:28%;" name="search[age_max]">
              <option value="20" selected='selected'> 20 </option>
              <% [*21..80].each do |n| %>
                <option value="<%= n %>"> <%= n %> </option>
              <% end %>
            </select>
            <div class="clr"></div>
          </div>
        </div>
      </div>

      <div id="multiAccordion2">
        <h3 class="panel-title panel-heading-text border-t"><a href="#">Gender</a></h3>
        <div>
          <div class="panel-body genders">
            <span>Show Only</span>

            <select class="select-style form_select" style="width: 44%;" name="search[gender]">
              <option value="">All</option>
              <option value="0">Female</option>
              <option value="1">Male</option>
            </select>

          </div>
        </div>
      </div>

      <div id="multiAccordion3">
        <h3 class="panel-title panel-heading-text border-t"><a href="#">Ethnicity</a></h3>
        <div>
          <div class="panel-body">
            <div class="checkbox">
              <% Ethnicity.all.each do |cat| %>
              <input id="c_<%= cat.id %>" type="checkbox" data-catid="<%= cat.id %>">
              <label for="c_<%= cat.id %>"><%= cat.name %></label>
              <br>
              <% end %>
              <%= hidden_field_tag :cat_ids, '', name: 'search[cat_ids]' %>
            </div>
          </div>
        </div>
      </div>

      <div id="multiAccordion4">
        <h3 class="panel-title panel-heading-text border-t"><a href="#">Interest</a></h3>
        <div>
          <div class="panel-body">

            <div class="checkbox">
              <input id="check9" type="checkbox" name="check" value="check9">
              <label for="check9">Interest 1</label>
              <br>
              <input id="check10" type="checkbox" name="check" value="check10">
              <label for="check10">Interest 2</label>
              <br>
              <input id="check11" type="checkbox" name="check" value="check11">
              <label for="check11">Interest 2</label>
              <br>
              <input id="check12" type="checkbox" name="check" value="check12">
              <label for="check12">Interest 2</label>
              <br>
              <input id="check13" type="checkbox" name="check" value="check13">
              <label for="check13">Interest 2</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $('.form_select').change(function() {
    $('#filter_profiles').submit();
  });

 $('input:checkbox').on('click', function(event) {
    var ids = []
    $('input:checkbox:checked').each(function() { ids.push( $(this).data('catid'))})
    // alert($(this).data('userid'));
    $('input#cat_ids').val(ids.join(''));
    $('#filter_profiles').submit();
  });

  $('.age_select_one').on('change', function(event) {
    age_one = $('.age_select_one  option:selected').val();
    var age_two = ''
    for (var i=age_one; i <= 80; i++) {
      age_two +=  "<option value=" + i + ">" + i + "</option>";
    }
    $('.age_select_two').html(age_two).removeAttr('disabled');
  });
</script>
